<h1><%= @user.email %>, voici votre derniere commande a ete validee!</h1>
<p>Voici tes derniers achats :
<div>
    <p><% %></p>
        <p><%=  %></p>
    <p> <% end %></p>
</div>
<p> A tres vite sur picats.fr !