<h1>Salut <%= @user.email %> et bienvenue chez nous !</h1>
<p>Tu t'es inscrit sur picats.fr en utilisant l'e-mail suivant : <%=@user.email %>.</p>
<p>Pour acceder a ton espace client, connecte-toi via : <%= @url %>.</p>
<p> A tres vite sur picats.fr !
    