 <div class="banner">
  <section class="py-5 text-left container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">La plus grande <br>sélection en Europe</h1>
        <p class="lead">Découvrez plus de 2000 photos et profitez <br> d’une livraison rapide ainsi que des retours gratuits.</p>
      </div>
    </div>
  </section>
</div>